*.fas
*.lib
*.fasl
*.a
*.o
*.*fasl
*.*fsl
*~
*.swp
\#*#
configure
config.log
config.status
autom4te.cache
Makefile
onede
onede.info
TAGS
make-image.lisp
load-onede.lisp
version.lisp
onede-*.tgz
onede-*.tgz.sig
.dotest
patches
onede.texi
